.button {
  font-size: 14px;
  font-weight: 600;
  transition: var(--transition);
  background-color: transparent;
  cursor: pointer;
  display: flex;
  gap: 10px;
  text-transform: uppercase;
  letter-spacing: .3px;
  align-items: center;
  border-radius: 500px;
  padding: 15px 30px;
  background: #00000017;
}

.button:hover {
  opacity: .95;
}

.icon {
  transition: var(--transition);
}

.button:hover .icon {
  transform: translateX(-5px);
}

.button:hover {
  background: #0000002d;
}