.button {
  font-size: 1.6rem;
  opacity: .75;
  transition: var(--transition);
  background-color: transparent;
  border: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.button:hover {
  opacity: .95;
}

.icon {
  width: 20px;
  height: 20px;
  transition: var(--transition);
}

.button:hover .icon {
  transform: translateX(-5px);
}