.section {
  padding: 10vh 5vw;
  background: url('../../assets/ContactBackground.png') no-repeat;
  background-size: 40%;
  background-position: 70% top;
}

.section h2,
.section h3 {
  text-align: left;
}

.container {
  max-width: 1200px;
  margin: auto;
}

.row {
  margin-top: 50px;
  display: flex;
  gap: 10vw;
  justify-content: space-between;
}

.col1 {
  width: 100%;
}

.form {
  width: 100%;
  max-width: 700px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.info {
  margin-bottom: 1rem;
  font-size: 14px;
  opacity: .7;
  font-weight: 500;
}

.containerInput {
  display: flex;
  max-width: 700px !important;
  flex-direction: column;
  padding: 20px 30px;
  border-radius: 10px;
  border: 1px solid;
  border-radius: 10px;
  border: 1px solid #0000004d;
  background: #FFF8ED;
  box-shadow: 0px 4px #00000033;
}

.textField {
  width: 100%;
  font-size: calc(1rem + .5vw);
  font-family: inherit;
  line-height: 140%;
}

.textField::placeholder {
  opacity: 1;
  color: #000;
}

textarea.textField {
  resize: none;
  min-height: 200px;
  transition: var(--transition);
}

.containerButtons {
  display: flex;
  justify-content: center;
  gap: 2rem;
}


.buttonSubmit {
  font-size: 1.8rem;
  font-weight: 600;
  border: 0;
  border-radius: 1rem;
  padding: 1.8rem 3.3rem;
  background: var(--button-background);
  width: 50%;
  cursor: pointer;
  transition: var(--transition);
}

.buttonSubmit:hover {
  opacity: .85;
}

.successMessage {
  padding: 15px 30px;
  background: #000000d7;
  border-radius: 500px;
  color: var(--color-1);
  display: flex;
  gap: 15px;
  position: fixed;
  top: 100px;
  left: 50%;
  user-select: none;
  z-index: 1000;
  opacity: 0;
  transform: translate(-50%, -20px);
  backdrop-filter: blur(10px);
  transition: var(--transition);
}

.show {
  opacity: 1;
  transform: translate(-50%, 0);
}


.successMessage p {
  font-size: 20px;
  font-weight: 600;
}

.successMessage svg {
  width: 32px;
  height: 32px;
}

.col2 {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

@media screen and (max-width: 1024px) {
  .row {
    flex-direction: column-reverse;
    grid-template-columns: 1fr;
    gap: 5vh;
  }

  .col1 {
    margin-top: 0;
  }

  .textField {
    font-weight: 500;
  }

  .col2 {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
  }

  .form {
    max-width: 100%;
  }

}

@media screen and (max-width: 574px) {
  .section {
    padding: 8rem 2rem;
  }

  .row {
    margin-top: 4rem;
  }
}