.button {
  min-width: 250px;
  max-width: 300px;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  border: none;
  border-radius: 6px;
  background: var(--button-background);
  box-shadow: 5px 5px 0px 0px #000;
  padding: 20px 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  transition: var(--transition);
}

.button svg {
  width: 24px;
  height: 24px;
}

.button:hover {
  box-shadow: none;
  transform: translate(5px, 5px);
}