.footer {
  padding: 4rem;
  background-color: var(--black);
  z-index: 5;
  position: relative;
}

.container {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.paragraph {
  color: var(--white);
  opacity: .8;
}

.socialsContainer {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.boxIconSocial {
  border-radius: 50%;
  background-color: #B9B9B9;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: var(--transition);
}

.boxIconSocial:hover {
  transform: translateY(-5px);
}

.boxIconSocial svg {
  width: 30px;
  height: 30px;
}

@media screen and (max-width: 800px) {
  .container {
    flex-direction: column;
    justify-content: initial;
    align-items: initial;
    gap: 2rem;
  }
}

@media screen and (max-width: 574px) {
  .footer {
    padding: 4rem 2rem;
  }

  .paragraph {
    font-size: 1.6rem;
  }
}