.section {
  padding: 10vh 5vw;
}

.container {
  max-width: 1200px;
  margin: auto;
}

.row {
  margin-top: 80px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 60px;
}

.card {
  max-width: 400px;
  border-radius: 12px;
  background: #000;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
}

.card::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: -20px;
  left: 15px;
  background: var(--color-3);
  border: 2px solid #000;
  border-radius: 12px;
  z-index: -1;
  pointer-events: none;
  transition: var(--transition);
}

.cardImage {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

.cardText {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
  color: #fff;
}

.cardTitle {
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: .3px;
  opacity: 0.85;
  width: 80%;
  flex-grow: 1;
  max-width: 200px;
}

.cardArrow {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: #fff;
}

.cardArrow img {
  width: 18px;
  object-fit: contain;
  transition: var(--transition);
}

.card:hover::before {
  transform: translate(5px, -5px);
}

.card:hover .cardArrow img {
  transform: translate(5px, -5px);
}

/* @media screen and (max-width: 1024px) {
  .row {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 820px) {
  .row {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 574px) {
  .section {
    padding: 8rem 2rem;
  }

  .row {
    margin-top: 4rem;
  }

  .cardTitle {
    font-size: 2rem;
  }
} */